# yaml-language-server: $schema=https://json.schemastore.org/clang-format.json
---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 3
ColumnLimit: 130

Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Right
---
...

