$base:       #1E1D2E;
$mantle:     #181825;
$crust:      #11111b;
$text:       #cdd6f4;
$subtext0:   #a6adc8;
$subtext1:   #bac2de;
$surface0:   #313244;
$surface1:   #45475a;
$surface2:   #585b70;
$overlay0:   #6c7086;
$overlay1:   #7f849c;
$overlay2:   #9399b2;
$blue:       #89b4fa;
$lavender:   #b4befe;
$sapphire:   #74c7ec;
$sky:        #89dceb;
$teal:       #94e2d5;
$green:      #a6e3a1;
$yellow:     #f9e2af;
$peach:      #fab387;
$maroon:     #eba0ac;
$red:        #f38ba8;
$mauve:      #cba6f7;
$pink:       #f5c2e7;
$flamingo:   #f2cdcd;
$rosewater:  #f5e0dc;

.power-menu {
    border: 0.125rem solid $mantle;
    border-radius: 0.4375rem;
    margin: 0rem;
    padding: 0.5rem;
}

.backdrop {
    background-color: rgba(0,0,0,0.25);
}


.prompt > * {
    background-color: $mantle;
    border-radius: 0px;
}

.prompt-buttons * {
    margin: 0;
    border-radius: 0px;
}
.prompt-buttons *:first-child {
    border-bottom-left-radius: 0.5em;
}
.prompt-buttons *:last-child {
    border-bottom-right-radius: 0.5em;
}

*:not(button) > label {
    margin: 0;
    padding: 1em 2em;
}
button {
    padding: 0.325em 0.6em;
}

button.accept {
    color: $red;
}

.prompt > *:first-child {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.prompt > *:last-child {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.prompt-container {
    border-radius: 0.5em;
    margin: 0.25em;

    border: 0.125em solid $green;
    box-shadow: 0 0 0 0.125em rgba($mantle, 0.5);
}

.prompt {
    background-color: transparent;
}