# yep
.DS_Store

# Secrets
secrets/flake.nix

# NixOS (nixos-rebuild)
result/
result
*.qcow2

# Qt Creator
.qtc_clangd
*.cflags
*.config
*.creator
*.creator.user
*.cxxflags
*.files
*.includes
!qtcreator/styles/
!qtcreator/themes/

*.z64
